Q1. Create one variable containing following type of data:

In [1]:
s="sudh"
l={1,2,3,4,1,2,"sudh"}
f=1.234
t=[1,2,34,"sudh",3+5j]

Q2. Given are some following variables containing data:

In [2]:
var1=''

In [3]:
type(var1)

str

In [4]:
var2='[DS,ML,Python]'

In [5]:
type(var2)

str

In [6]:
var3=['DS','ML','Python']

In [8]:
type(var3)

list

In [9]:
var4=1.

In [10]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

In [11]:
#all of these are arithmetic operators.
#division operator / : 
15/3

5.0

In [12]:
#modulus operator % :
15%4

3

In [13]:
#floor division // :
15//6

2

In [14]:
#exponensial division ** :
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
l=[2,3,4,5,6,"sudh",23.45,True]
for i in l:
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
sudh
<class 'str'>
23.45
<class 'float'>
True
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
A=int(input())
B=int(input())
count=0
while A>0:
    if A%B==0:
        count=count+1
    A=A/B
print("A is completely divisible by B")
print("no of times A is divisible by B is ",count)

 12
 2

A is completely divisible by B
no of times A is divisible by B is  2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [32]:
l=[3,9,42,56,43,90,31,36,58,105,26,53,72,63,75,437,86,27,29,48,67,83,75,28,26]
for i in l:
    if i%3==0:
        print(i, " divisible by 3")
    else :
        print(i,"not divisible by 3")

3  divisible by 3
9  divisible by 3
42  divisible by 3
56 not divisible by 3
43 not divisible by 3
90  divisible by 3
31 not divisible by 3
36  divisible by 3
58 not divisible by 3
105  divisible by 3
26 not divisible by 3
53 not divisible by 3
72  divisible by 3
63  divisible by 3
75  divisible by 3
437 not divisible by 3
86 not divisible by 3
27  divisible by 3
29 not divisible by 3
48  divisible by 3
67 not divisible by 3
83 not divisible by 3
75  divisible by 3
28 not divisible by 3
26 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [26]:
l=[0,"sudh",1.234,True]

In [27]:
l[3]=3.21

In [29]:
l

[0, 'sudh', 1.234, 3.21]

In [30]:
s="sudh"

In [31]:
s[2]=p

NameError: name 'p' is not defined

If we can reassign new object in particular index ,then that data type is called mutable otherwise that is called immutable data type.
Here list is mutable and string is immutable data type.